celery== 5.5.2
kombu== 5.5.3
pydantic==2.9.2
pydantic-settings==2.6.1
msgspec== 0.19.0
msgpack== 1.1.0
SQLAlchemy== 2.0.40
psycopg2-binary==2.9.10
odmantic==1.0.2
requests== 2.32.3
phonenumbers==8.13.53
uuid6== 2025.0.0
structlog== 25.4.0
orjson== 3.10.18
boto3==1.38.18
redis==5.2.0
asyncpg==0.30.0
